backup-wordpress/vars-credentials.yml

configure-server/vars-configure-server.yml
configure-server/vars-credentials.yml
configure-server/vars-request-ssl-certificate.yml

restore-wordpress/vars-credentials.yml

setup-wordpress/vars-credentials.yml

setup-wordpress-backup-scedule/vars-setup-wordpress-backup-scedule.yml