<VirtualHost *:80>
    ServerName {{ host_name }}
    ServerAdmin {{ server_admin_email }}
    DocumentRoot {{ project_path }}{{ host_name }}

    <Directory "{{ project_path }}{{ host_name }}">
        DirectoryIndex index.php index.html index.htm
        Options -Indexes +FollowSymLinks
        AllowOverride None
    </Directory>

    ErrorLog /var/log/httpd/{{ host_name }}-error.log
    CustomLog /var/log/httpd/{{ host_name }}-access.log combined

    RewriteEngine on
    {# 某些情況下，可能希望系統連線不要加密，但這種情況仍需要重新導向請求，故這邊要套用這些重導規則 #}
    #如果請求 /index.php，則不重導
    RewriteRule ^index\.php$ -
    #條件：路徑不會對應檔案
    RewriteCond %{REQUEST_URI} !-f
    #條件：路徑不會對應資料匣
    RewriteCond %{REQUEST_URI} !-d
    #全部導向根路徑的 index.php
    RewriteRule . /index.php

</VirtualHost>