<VirtualHost *:80>
    ServerName {{ host_name }}
    ServerAdmin {{ server_admin_email }}
    DocumentRoot {{ project_path }}{{ host_name }}

    <Directory "{{ project_path }}{{ host_name }}">
        DirectoryIndex index.php index.html index.htm
        Options -Indexes +FollowSymLinks
        AllowOverride None
    </Directory>

    RewriteEngine on
    RewriteRule "^/wp-json.*" "/index.php" [L]
    ErrorLog /var/log/httpd/{{ host_name }}-error.log
    CustomLog /var/log/httpd/{{ host_name }}-access.log combined

    {% if should_request_ssl_certificate == true %}
    RewriteEngine on
    RewriteCond %{SERVER_NAME} ={{ host_name }}
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
    {% endif %}

</VirtualHost>


