<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerName {{ host_name }}
    ServerAdmin {{ server_admin_email }}
    DocumentRoot {{ project_path }}{{ host_name }}

    <Directory "{{ project_path }}{{ host_name }}">
        DirectoryIndex index.php index.html index.htm
        Options -Indexes +FollowSymLinks
        AllowOverride None
    </Directory>

    SSLCertificateFile /etc/letsencrypt/live/{{ host_name }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ host_name }}/privkey.pem
    Include /etc/letsencrypt/options-ssl-apache.conf
    SSLCertificateChainFile /etc/letsencrypt/live/{{ host_name }}/chain.pem
</VirtualHost>
</IfModule>