<VirtualHost *:80>
    ServerName {{ host_name }}
    ServerAdmin {{ server_admin_email }}
    DocumentRoot {{ project_path }}{{ host_name }}

    <Directory "{{ project_path }}{{ host_name }}">
        DirectoryIndex index.php index.html index.htm
        Options -Indexes +FollowSymLinks
        AllowOverride All
    </Directory>

    ErrorLog /var/log/httpd/{{ host_name }}-error.log
    CustomLog /var/log/httpd/{{ host_name }}-access.log combined

    RewriteEngine on
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [END,NE,R=permanent]

</VirtualHost>