<VirtualHost *:80>
    ServerName {{ host_name }}
    ServerAdmin {{ server_admin_email }}
    DocumentRoot {{ project_path }}

    <Directory "{{ project_path }}">
        DirectoryIndex index.php index.html index.htm
        Options -Indexes +FollowSymLinks
        AllowOverride All
    </Directory>
</VirtualHost>
